<ion-header>
  <ion-icon name="wifi-outline" style="margin-left: 8cm;color: rgba(240, 255, 240, 0.719);"></ion-icon>
  <ion-icon name="battery-half-outline" style="margin-left: cm;color: honeydew;"></ion-icon>
    
 
</ion-header>

<ion-content [fullscreen]="true" style="--background:#247238 ;">
  <br><br>
  <img src="assets/cercle-blanc-fond-transparent.png" style="margin-left: 115px;height: 200px;" width="200px" height="200px">
  <br><br>
  <ion-card-title style="text-align: center;color: rgb(163, 163, 163);">Créer un compte </ion-card-title>
  <br>


  <ion-card-content>
  <ion-item >
    <ion-input placeholder="Nom Prénom"  ></ion-input>
  </ion-item>
  <br>
  <ion-item >
    <ion-input placeholder="Email" type="email" ></ion-input>
  </ion-item>
  <br>
  <ion-item >
    <ion-input placeholder="Password" type="Password" > <br><ion-icon name="checkmark-outline"   ></ion-icon></ion-input>
  </ion-item>
  <br>
  <ion-item >
    <ion-input placeholder="Confirm Password" type="Password"><ion-icon name="checkmark-outline"  ></ion-icon></ion-input>
  </ion-item>
  <br>  <br>  <br>
  <ion-icon name="arrow-forward-circle-outline" style="margin-left: 4cm; color: rgb(211, 203, 203);height: 1cm;width: 1.5cm;"></ion-icon>
  </ion-card-content>
</ion-content>
