<ion-header>
  
  <ion-toolbar  style="--background:#247238 ;">
    
    <ion-icon name="wifi-outline" style="margin-left: 9cm;color: rgba(240, 255, 240, 0.719);"></ion-icon>
<ion-icon name="battery-half-outline" style="margin-left: cm;color: honeydew;"></ion-icon>

    <ion-title style="text-align: center;color: rgb(197, 191, 191);" >COACH</ion-title>
    <br>
    <ion-icon name="menu-outline" style="margin-right: 0.2cm;color: rgba(240, 255, 240, 0.719);"></ion-icon>
<ion-icon name="ellipsis-vertical-outline" style="margin-left:  9.5cm;color: rgba(240, 255, 240, 0.719);"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
  <img src="assets/profile.png" height="60px" width="60px" style="color: grey;margin-left:0.5cm;">
  <ion-row style="color: grey;" >Nom Prénopm</ion-row>
  <img src="assets/image.jpg" height="250px">
  <br><br>
  <ion-button size ="small" shape="round" color="light" >Photo</ion-button>
  <ion-button  size ="small" shape="round" color="medium" style="margin-left:0.5cm;" >publication</ion-button>
  <ion-button  size ="small" shape="round" color="light" style="margin-left:0.5cm;">Calendrier </ion-button>
  <br><br><img src="assets/profile.png" height="60px" width="60px" style="color: grey;margin-left:0.5cm;">
  <ion-row style="color: grey;" >Nom Prénopm</ion-row>
  <ion-row>...............................................................................
    .................................................................................
    ..........................</ion-row>
  
  <ion-icon name="chatbubble-ellipses-outline" style="margin-left:8cm;"></ion-icon><ion-icon name="arrow-redo-outline"></ion-icon><ion-icon name="bookmark-outline" color="grey"></ion-icon>
  
</ion-card-content>

</ion-content>
